.cell-outside {
  display: flex;
  flex: 1;
  background: #565656;
  width: 100px;
  height: 100px;

  .cell-inside {
    background: #ffffff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}